.figure {
    overflow: hidden;
}

.zoomHover img {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomHover:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}