// .image-routing {
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
// }

.image-routing {
    width: 100%;
    height: auto;
    max-width: 100vw;
    object-fit: cover;
    // width: 100vw;
    // min-height: 100vh;
}